
  
  .card__banner {
    background-image: url("https://source.unsplash.com/random/320x180");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
  }
  
  
  